<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update User</title>
</head>
<body>
<form th:method="post" th:action="@{/updateUser}" th:object="${user}">
    <input type="hidden" th:field="*{id}"/>
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="surname">Enter surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>
    <input type="submit" value="OK"/>
</form>
</body>
</html>